{{>partial_header}}
package {{package}}

import ({{#imports}}
    {{#isModelImport}}{{alias}} {{/isModelImport}}"{{import}}"{{/imports}}{{#pageEnabled}}
    {{pagePackageAlias}} "{{pagePackage}}"{{/pageEnabled}}
    "github.com/gin-gonic/gin"
)

{{#operations}}{{#operation}}{{#hasParams}}
type {{classname}}{{nickname}}Req struct {
{{#pageEnabled}}
    {{pagePackageAlias}}.Pageable
{{/pageEnabled}}
{{#allParams}}
    {{>paramsVar}} {{>headerParamsTag}}{{>cookieParamsTag}}{{>pathParamsTag}}{{>queryParamsTag}}{{>formParamsTag}}
{{/allParams}}
}
{{/hasParams}}{{/operation}}
{{/operations}}

type {{classname}} interface {

    {{#operations}}{{#operation}}
    // {{nickname}} {{httpMethod}} {{{basePathWithoutHost}}}{{{path}}}{{#summary}}
    // {{{.}}} {{/summary}}
    {{#isDeprecated}}
    // Deprecated
    {{/isDeprecated}}
    {{nickname}}(
        c *gin.Context,{{#hasParams}}
        req {{classname}}{{nickname}}Req,{{/hasParams}}
    ) ({{>responseType}}, error)

    {{/operation}}
    {{/operations}}
}