{{>partial_header}}
package {{package}}

import ({{#imports}}{{#isModelImport}}
    {{alias}} "{{import}}"{{/isModelImport}}{{/imports}}
    "github.com/gin-gonic/gin"
)

{{#operations}}{{#operation}}
type {{classname}}{{nickname}}Req struct {
{{#allParams}}
    {{nameInPascalCase}} {{#vendorExtensions.importAlias}}{{.}}.{{/vendorExtensions.importAlias}}{{>dateTimeParam}}{{>optionalDataType}}
{{/allParams}}
}
{{/operation}}
{{/operations}}

type {{classname}} interface {

    {{#operations}}{{#operation}}
    // {{nickname}} {{httpMethod}} {{{basePathWithoutHost}}}{{{path}}}{{#summary}}
    // {{{.}}} {{/summary}}
    {{#isDeprecated}}
    // Deprecated
    {{/isDeprecated}}
    {{nickname}}(
        c *gin.Context,
        {{#allParams}}{{>queryParams}}{{>pathParams}}{{>headerParams}}{{>bodyParams}}{{>formParams}}{{>cookieParams}},
        {{/allParams}}{{#vendorExtensions.x-spring-paginated}}{{#hasParams}},{{/hasParams}}pageable Pageable{{/vendorExtensions.x-spring-paginated}}
    ) ({{>responseType}}, error)

    {{/operation}}
    {{/operations}}
}