{{#pageEnabled}}*{{pagePackageAlias}}.Page[{{/pageEnabled}}{{^pageEnabled}}{{#isArray}}[]*{{/isArray}}{{/pageEnabled}}{{#returnTypeIsPrimitive}}{{{returnType}}}{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{vendorExtensions.returnImportAlias}}.{{{returnBaseType}}}{{/returnTypeIsPrimitive}}{{#pageEnabled}}]{{/pageEnabled}}