{{#isArray}}[]*{{/isArray}}{{#returnTypeIsPrimitive}}{{{returnType}}}{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{vendorExtensions.returnImportAlias}}.{{{returnBaseType}}}{{/returnTypeIsPrimitive}}