{{#vendorExtensions.x-paginated}}*{{pagePackageAlias}}.Page[{{/vendorExtensions.x-paginated}}{{^vendorExtensions.x-paginated}}{{#isArray}}[]{{/isArray}}{{/vendorExtensions.x-paginated}}{{#returnTypeIsPrimitive}}{{{returnType}}}{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}*{{vendorExtensions.returnImportAlias}}.{{{returnBaseType}}}{{/returnTypeIsPrimitive}}{{#vendorExtensions.x-paginated}}]{{/vendorExtensions.x-paginated}}