syntax = "v1"

info(
    {{#appName}}title: "{{{.}}}"{{/appName}}
    {{#appDescription}}desc: "{{{.}}}"{{/appDescription}}
    {{#infoEmail}}email: "{{{.}}}"{{/infoEmail}}
)

import ({{#imports}}{{#isModelImport}}
    "{{import}}.api"{{/isModelImport}}{{/imports}}
)

{{#operations}}{{#operation}}{{#hasParams}}
type {{classname}}{{nickname}}Req { {{#allParams}}
    {{>paramsVar}} {{>headerParamsTag}}{{>cookieParamsTag}}{{>pathParamsTag}}{{>queryParamsTag}}{{>formParamsTag}}
{{/allParams}}
}
{{/hasParams}}{{/operation}}
{{/operations}}