{{#hasConditions}} binding:"{{#conditions}}{{>validEmail}}{{>validEnum}}{{>validHostname}}{{>validIpv4}}{{>validIpv6}}{{>validMaximum}}{{>validMaxItems}}{{>validMaxLength}}{{>validMinimum}}{{>validMinItems}}{{>validMinLength}}{{>validMultipleof}}{{>validRegexp}}{{>validRequired}}{{>validUniqueItems}}{{>validUri}}{{>validUuid}}{{^-last}},{{/-last}}{{/conditions}}"{{/hasConditions}}{{>validDatetime}}