{{^required}},optional{{/required}}{{#enableOmitempty}},omitempty{{/enableOmitempty}}{{#hasConditions}}{{#conditions}}{{>validEmail}}{{>validEnum}}{{>validHostname}}{{>validIpv4}}{{>validIpv6}}{{>validMaximum}}{{>validMaxItems}}{{>validMaxLength}}{{>validMinimum}}{{>validMinItems}}{{>validMinLength}}{{>validMultipleof}}{{>validRegexp}}{{>validRequired}}{{>validUniqueItems}}{{>validUri}}{{>validUuid}}{{/conditions}}{{/hasConditions}}{{#defaultValue}},default={{.}}{{/defaultValue}}